body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #f9f9f9;
    }
    header {
      background-color: #b185a7;
      color: white;
      padding: 20px;
      text-align: center;
    }
    nav {
      background-color: #f3e8ff;
      padding: 10px;
      display: flex;
      justify-content: center;
      gap: 20px;
    }
    nav a {
      color: #5e437f;
      text-decoration: none;
      font-weight: bold;
    }
    section {
      padding: 20px;
    }
    .post {
      background-color: white;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .post h3 {
      margin-top: 0;
    }